# Python
__pycache__/
*.py[cod]
*.so
env/
venv/
proj_env/

# Environment (IMPORTANT!)
.env

# DVC - Large files
/data/*.npy
/data/*.pkl
/models/*.pkl
.dvc/cache
.dvc/tmp

# MLflow
mlruns/
mlflow.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
