# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
proj_env/

# Data (will be tracked by DVC)
/data/*.csv
/data/*.npy
/data/*.pkl
/data/*.png

# Models (will be tracked by DVC)
/models/*.pkl

# MLflow
mlruns/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# DVC
/data/.gitignore
/models/.gitignore
.dvc/cache
.dvc/tmp